.archives {
  padding-left: 1.75em;
}
.archives .archive-article-link {
  color: #585858;
  color: var(--color-secondary);
}
.archives .archive-article-link:hover {
  color: #333;
  color: var(--color-primary);
}
.archives .archive-article-date {
  color: #999;
  color: var(--color-muted);
  margin-left: 8px;
}
