.category-list {
  padding-left: 1.75em;
}
.category-list a {
  color: #585858;
  color: var(--color-secondary);
}
.category-list a:hover {
  color: #eee;
  color: var(--color-hover);
}
.category-list-count {
  margin-left: 1em;
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #eee;
  background-color: var(--color-hover);
  border-radius: 3px;
}
