.highlight {
  display: block;
  width: 100%;
  overflow-x: auto;
  font-size: 14px;
  line-height: 16px;
  background-color: #272822;
  background-image: linear-gradient(#353535, #353535);
  background-repeat: repeat-x;
  background-size: 100% 28px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.highlight:before {
  content: 'code';
  display: block;
  padding: 0 8px;
  line-height: 28px;
  color: #989898;
  font-family: monospace;
}
.highlight[class~="1c"]:before,
.highlight[class~="highlight-source-1c"]:before {
  content: "1c";
}
.highlight[class~="abnf"]:before,
.highlight[class~="highlight-source-abnf"]:before {
  content: "abnf";
}
.highlight[class~="accesslog"]:before,
.highlight[class~="highlight-source-accesslog"]:before {
  content: "accesslog";
}
.highlight[class~="actionscript"]:before,
.highlight[class~="highlight-source-actionscript"]:before {
  content: "actionscript";
}
.highlight[class~="ada"]:before,
.highlight[class~="highlight-source-ada"]:before {
  content: "ada";
}
.highlight[class~="apache"]:before,
.highlight[class~="highlight-source-apache"]:before {
  content: "apache";
}
.highlight[class~="applescript"]:before,
.highlight[class~="highlight-source-applescript"]:before {
  content: "applescript";
}
.highlight[class~="cpp"]:before,
.highlight[class~="highlight-source-cpp"]:before {
  content: "cpp";
}
.highlight[class~="arduino"]:before,
.highlight[class~="highlight-source-arduino"]:before {
  content: "arduino";
}
.highlight[class~="armasm"]:before,
.highlight[class~="highlight-source-armasm"]:before {
  content: "armasm";
}
.highlight[class~="xml"]:before,
.highlight[class~="highlight-source-xml"]:before {
  content: "xml";
}
.highlight[class~="asciidoc"]:before,
.highlight[class~="highlight-source-asciidoc"]:before {
  content: "asciidoc";
}
.highlight[class~="aspectj"]:before,
.highlight[class~="highlight-source-aspectj"]:before {
  content: "aspectj";
}
.highlight[class~="autohotkey"]:before,
.highlight[class~="highlight-source-autohotkey"]:before {
  content: "autohotkey";
}
.highlight[class~="autoit"]:before,
.highlight[class~="highlight-source-autoit"]:before {
  content: "autoit";
}
.highlight[class~="avrasm"]:before,
.highlight[class~="highlight-source-avrasm"]:before {
  content: "avrasm";
}
.highlight[class~="awk"]:before,
.highlight[class~="highlight-source-awk"]:before {
  content: "awk";
}
.highlight[class~="axapta"]:before,
.highlight[class~="highlight-source-axapta"]:before {
  content: "axapta";
}
.highlight[class~="bash"]:before,
.highlight[class~="highlight-source-bash"]:before {
  content: "bash";
}
.highlight[class~="basic"]:before,
.highlight[class~="highlight-source-basic"]:before {
  content: "basic";
}
.highlight[class~="bnf"]:before,
.highlight[class~="highlight-source-bnf"]:before {
  content: "bnf";
}
.highlight[class~="brainfuck"]:before,
.highlight[class~="highlight-source-brainfuck"]:before {
  content: "brainfuck";
}
.highlight[class~="cal"]:before,
.highlight[class~="highlight-source-cal"]:before {
  content: "cal";
}
.highlight[class~="capnproto"]:before,
.highlight[class~="highlight-source-capnproto"]:before {
  content: "capnproto";
}
.highlight[class~="ceylon"]:before,
.highlight[class~="highlight-source-ceylon"]:before {
  content: "ceylon";
}
.highlight[class~="clean"]:before,
.highlight[class~="highlight-source-clean"]:before {
  content: "clean";
}
.highlight[class~="clojure"]:before,
.highlight[class~="highlight-source-clojure"]:before {
  content: "clojure";
}
.highlight[class~="clojure-repl"]:before,
.highlight[class~="highlight-source-clojure-repl"]:before {
  content: "clojure-repl";
}
.highlight[class~="cmake"]:before,
.highlight[class~="highlight-source-cmake"]:before {
  content: "cmake";
}
.highlight[class~="coffeescript"]:before,
.highlight[class~="highlight-source-coffeescript"]:before {
  content: "coffeescript";
}
.highlight[class~="coq"]:before,
.highlight[class~="highlight-source-coq"]:before {
  content: "coq";
}
.highlight[class~="cos"]:before,
.highlight[class~="highlight-source-cos"]:before {
  content: "cos";
}
.highlight[class~="crmsh"]:before,
.highlight[class~="highlight-source-crmsh"]:before {
  content: "crmsh";
}
.highlight[class~="crystal"]:before,
.highlight[class~="highlight-source-crystal"]:before {
  content: "crystal";
}
.highlight[class~="cs"]:before,
.highlight[class~="highlight-source-cs"]:before {
  content: "cs";
}
.highlight[class~="csp"]:before,
.highlight[class~="highlight-source-csp"]:before {
  content: "csp";
}
.highlight[class~="css"]:before,
.highlight[class~="highlight-source-css"]:before {
  content: "css";
}
.highlight[class~="d"]:before,
.highlight[class~="highlight-source-d"]:before {
  content: "d";
}
.highlight[class~="markdown"]:before,
.highlight[class~="highlight-source-markdown"]:before {
  content: "markdown";
}
.highlight[class~="dart"]:before,
.highlight[class~="highlight-source-dart"]:before {
  content: "dart";
}
.highlight[class~="delphi"]:before,
.highlight[class~="highlight-source-delphi"]:before {
  content: "delphi";
}
.highlight[class~="diff"]:before,
.highlight[class~="highlight-source-diff"]:before {
  content: "diff";
}
.highlight[class~="django"]:before,
.highlight[class~="highlight-source-django"]:before {
  content: "django";
}
.highlight[class~="dns"]:before,
.highlight[class~="highlight-source-dns"]:before {
  content: "dns";
}
.highlight[class~="dockerfile"]:before,
.highlight[class~="highlight-source-dockerfile"]:before {
  content: "dockerfile";
}
.highlight[class~="dos"]:before,
.highlight[class~="highlight-source-dos"]:before {
  content: "dos";
}
.highlight[class~="dsconfig"]:before,
.highlight[class~="highlight-source-dsconfig"]:before {
  content: "dsconfig";
}
.highlight[class~="dts"]:before,
.highlight[class~="highlight-source-dts"]:before {
  content: "dts";
}
.highlight[class~="dust"]:before,
.highlight[class~="highlight-source-dust"]:before {
  content: "dust";
}
.highlight[class~="ebnf"]:before,
.highlight[class~="highlight-source-ebnf"]:before {
  content: "ebnf";
}
.highlight[class~="elixir"]:before,
.highlight[class~="highlight-source-elixir"]:before {
  content: "elixir";
}
.highlight[class~="elm"]:before,
.highlight[class~="highlight-source-elm"]:before {
  content: "elm";
}
.highlight[class~="ruby"]:before,
.highlight[class~="highlight-source-ruby"]:before {
  content: "ruby";
}
.highlight[class~="erb"]:before,
.highlight[class~="highlight-source-erb"]:before {
  content: "erb";
}
.highlight[class~="erlang-repl"]:before,
.highlight[class~="highlight-source-erlang-repl"]:before {
  content: "erlang-repl";
}
.highlight[class~="erlang"]:before,
.highlight[class~="highlight-source-erlang"]:before {
  content: "erlang";
}
.highlight[class~="excel"]:before,
.highlight[class~="highlight-source-excel"]:before {
  content: "excel";
}
.highlight[class~="fix"]:before,
.highlight[class~="highlight-source-fix"]:before {
  content: "fix";
}
.highlight[class~="flix"]:before,
.highlight[class~="highlight-source-flix"]:before {
  content: "flix";
}
.highlight[class~="fortran"]:before,
.highlight[class~="highlight-source-fortran"]:before {
  content: "fortran";
}
.highlight[class~="fsharp"]:before,
.highlight[class~="highlight-source-fsharp"]:before {
  content: "fsharp";
}
.highlight[class~="gams"]:before,
.highlight[class~="highlight-source-gams"]:before {
  content: "gams";
}
.highlight[class~="gauss"]:before,
.highlight[class~="highlight-source-gauss"]:before {
  content: "gauss";
}
.highlight[class~="gcode"]:before,
.highlight[class~="highlight-source-gcode"]:before {
  content: "gcode";
}
.highlight[class~="gherkin"]:before,
.highlight[class~="highlight-source-gherkin"]:before {
  content: "gherkin";
}
.highlight[class~="glsl"]:before,
.highlight[class~="highlight-source-glsl"]:before {
  content: "glsl";
}
.highlight[class~="go"]:before,
.highlight[class~="highlight-source-go"]:before {
  content: "go";
}
.highlight[class~="golo"]:before,
.highlight[class~="highlight-source-golo"]:before {
  content: "golo";
}
.highlight[class~="gradle"]:before,
.highlight[class~="highlight-source-gradle"]:before {
  content: "gradle";
}
.highlight[class~="groovy"]:before,
.highlight[class~="highlight-source-groovy"]:before {
  content: "groovy";
}
.highlight[class~="haml"]:before,
.highlight[class~="highlight-source-haml"]:before {
  content: "haml";
}
.highlight[class~="handlebars"]:before,
.highlight[class~="highlight-source-handlebars"]:before {
  content: "handlebars";
}
.highlight[class~="haskell"]:before,
.highlight[class~="highlight-source-haskell"]:before {
  content: "haskell";
}
.highlight[class~="haxe"]:before,
.highlight[class~="highlight-source-haxe"]:before {
  content: "haxe";
}
.highlight[class~="hsp"]:before,
.highlight[class~="highlight-source-hsp"]:before {
  content: "hsp";
}
.highlight[class~="htmlbars"]:before,
.highlight[class~="highlight-source-htmlbars"]:before {
  content: "htmlbars";
}
.highlight[class~="http"]:before,
.highlight[class~="highlight-source-http"]:before {
  content: "http";
}
.highlight[class~="hy"]:before,
.highlight[class~="highlight-source-hy"]:before {
  content: "hy";
}
.highlight[class~="inform7"]:before,
.highlight[class~="highlight-source-inform7"]:before {
  content: "inform7";
}
.highlight[class~="ini"]:before,
.highlight[class~="highlight-source-ini"]:before {
  content: "ini";
}
.highlight[class~="irpf90"]:before,
.highlight[class~="highlight-source-irpf90"]:before {
  content: "irpf90";
}
.highlight[class~="java"]:before,
.highlight[class~="highlight-source-java"]:before {
  content: "java";
}
.highlight[class~="javascript"]:before,
.highlight[class~="highlight-source-javascript"]:before {
  content: "javascript";
}
.highlight[class~="jboss-cli"]:before,
.highlight[class~="highlight-source-jboss-cli"]:before {
  content: "jboss-cli";
}
.highlight[class~="json"]:before,
.highlight[class~="highlight-source-json"]:before {
  content: "json";
}
.highlight[class~="julia"]:before,
.highlight[class~="highlight-source-julia"]:before {
  content: "julia";
}
.highlight[class~="julia-repl"]:before,
.highlight[class~="highlight-source-julia-repl"]:before {
  content: "julia-repl";
}
.highlight[class~="kotlin"]:before,
.highlight[class~="highlight-source-kotlin"]:before {
  content: "kotlin";
}
.highlight[class~="lasso"]:before,
.highlight[class~="highlight-source-lasso"]:before {
  content: "lasso";
}
.highlight[class~="ldif"]:before,
.highlight[class~="highlight-source-ldif"]:before {
  content: "ldif";
}
.highlight[class~="leaf"]:before,
.highlight[class~="highlight-source-leaf"]:before {
  content: "leaf";
}
.highlight[class~="less"]:before,
.highlight[class~="highlight-source-less"]:before {
  content: "less";
}
.highlight[class~="lisp"]:before,
.highlight[class~="highlight-source-lisp"]:before {
  content: "lisp";
}
.highlight[class~="livecodeserver"]:before,
.highlight[class~="highlight-source-livecodeserver"]:before {
  content: "livecodeserver";
}
.highlight[class~="livescript"]:before,
.highlight[class~="highlight-source-livescript"]:before {
  content: "livescript";
}
.highlight[class~="llvm"]:before,
.highlight[class~="highlight-source-llvm"]:before {
  content: "llvm";
}
.highlight[class~="lsl"]:before,
.highlight[class~="highlight-source-lsl"]:before {
  content: "lsl";
}
.highlight[class~="lua"]:before,
.highlight[class~="highlight-source-lua"]:before {
  content: "lua";
}
.highlight[class~="makefile"]:before,
.highlight[class~="highlight-source-makefile"]:before {
  content: "makefile";
}
.highlight[class~="mathematica"]:before,
.highlight[class~="highlight-source-mathematica"]:before {
  content: "mathematica";
}
.highlight[class~="matlab"]:before,
.highlight[class~="highlight-source-matlab"]:before {
  content: "matlab";
}
.highlight[class~="maxima"]:before,
.highlight[class~="highlight-source-maxima"]:before {
  content: "maxima";
}
.highlight[class~="mel"]:before,
.highlight[class~="highlight-source-mel"]:before {
  content: "mel";
}
.highlight[class~="mercury"]:before,
.highlight[class~="highlight-source-mercury"]:before {
  content: "mercury";
}
.highlight[class~="mipsasm"]:before,
.highlight[class~="highlight-source-mipsasm"]:before {
  content: "mipsasm";
}
.highlight[class~="mizar"]:before,
.highlight[class~="highlight-source-mizar"]:before {
  content: "mizar";
}
.highlight[class~="perl"]:before,
.highlight[class~="highlight-source-perl"]:before {
  content: "perl";
}
.highlight[class~="mojolicious"]:before,
.highlight[class~="highlight-source-mojolicious"]:before {
  content: "mojolicious";
}
.highlight[class~="monkey"]:before,
.highlight[class~="highlight-source-monkey"]:before {
  content: "monkey";
}
.highlight[class~="moonscript"]:before,
.highlight[class~="highlight-source-moonscript"]:before {
  content: "moonscript";
}
.highlight[class~="n1ql"]:before,
.highlight[class~="highlight-source-n1ql"]:before {
  content: "n1ql";
}
.highlight[class~="nginx"]:before,
.highlight[class~="highlight-source-nginx"]:before {
  content: "nginx";
}
.highlight[class~="nimrod"]:before,
.highlight[class~="highlight-source-nimrod"]:before {
  content: "nimrod";
}
.highlight[class~="nix"]:before,
.highlight[class~="highlight-source-nix"]:before {
  content: "nix";
}
.highlight[class~="nsis"]:before,
.highlight[class~="highlight-source-nsis"]:before {
  content: "nsis";
}
.highlight[class~="objectivec"]:before,
.highlight[class~="highlight-source-objectivec"]:before {
  content: "objectivec";
}
.highlight[class~="ocaml"]:before,
.highlight[class~="highlight-source-ocaml"]:before {
  content: "ocaml";
}
.highlight[class~="openscad"]:before,
.highlight[class~="highlight-source-openscad"]:before {
  content: "openscad";
}
.highlight[class~="oxygene"]:before,
.highlight[class~="highlight-source-oxygene"]:before {
  content: "oxygene";
}
.highlight[class~="parser3"]:before,
.highlight[class~="highlight-source-parser3"]:before {
  content: "parser3";
}
.highlight[class~="pf"]:before,
.highlight[class~="highlight-source-pf"]:before {
  content: "pf";
}
.highlight[class~="php"]:before,
.highlight[class~="highlight-source-php"]:before {
  content: "php";
}
.highlight[class~="pony"]:before,
.highlight[class~="highlight-source-pony"]:before {
  content: "pony";
}
.highlight[class~="powershell"]:before,
.highlight[class~="highlight-source-powershell"]:before {
  content: "powershell";
}
.highlight[class~="processing"]:before,
.highlight[class~="highlight-source-processing"]:before {
  content: "processing";
}
.highlight[class~="profile"]:before,
.highlight[class~="highlight-source-profile"]:before {
  content: "profile";
}
.highlight[class~="prolog"]:before,
.highlight[class~="highlight-source-prolog"]:before {
  content: "prolog";
}
.highlight[class~="protobuf"]:before,
.highlight[class~="highlight-source-protobuf"]:before {
  content: "protobuf";
}
.highlight[class~="puppet"]:before,
.highlight[class~="highlight-source-puppet"]:before {
  content: "puppet";
}
.highlight[class~="purebasic"]:before,
.highlight[class~="highlight-source-purebasic"]:before {
  content: "purebasic";
}
.highlight[class~="python"]:before,
.highlight[class~="highlight-source-python"]:before {
  content: "python";
}
.highlight[class~="q"]:before,
.highlight[class~="highlight-source-q"]:before {
  content: "q";
}
.highlight[class~="qml"]:before,
.highlight[class~="highlight-source-qml"]:before {
  content: "qml";
}
.highlight[class~="r"]:before,
.highlight[class~="highlight-source-r"]:before {
  content: "r";
}
.highlight[class~="rib"]:before,
.highlight[class~="highlight-source-rib"]:before {
  content: "rib";
}
.highlight[class~="roboconf"]:before,
.highlight[class~="highlight-source-roboconf"]:before {
  content: "roboconf";
}
.highlight[class~="routeros"]:before,
.highlight[class~="highlight-source-routeros"]:before {
  content: "routeros";
}
.highlight[class~="rsl"]:before,
.highlight[class~="highlight-source-rsl"]:before {
  content: "rsl";
}
.highlight[class~="ruleslanguage"]:before,
.highlight[class~="highlight-source-ruleslanguage"]:before {
  content: "ruleslanguage";
}
.highlight[class~="rust"]:before,
.highlight[class~="highlight-source-rust"]:before {
  content: "rust";
}
.highlight[class~="scala"]:before,
.highlight[class~="highlight-source-scala"]:before {
  content: "scala";
}
.highlight[class~="scheme"]:before,
.highlight[class~="highlight-source-scheme"]:before {
  content: "scheme";
}
.highlight[class~="scilab"]:before,
.highlight[class~="highlight-source-scilab"]:before {
  content: "scilab";
}
.highlight[class~="scss"]:before,
.highlight[class~="highlight-source-scss"]:before {
  content: "scss";
}
.highlight[class~="shell"]:before,
.highlight[class~="highlight-source-shell"]:before {
  content: "shell";
}
.highlight[class~="smali"]:before,
.highlight[class~="highlight-source-smali"]:before {
  content: "smali";
}
.highlight[class~="smalltalk"]:before,
.highlight[class~="highlight-source-smalltalk"]:before {
  content: "smalltalk";
}
.highlight[class~="sml"]:before,
.highlight[class~="highlight-source-sml"]:before {
  content: "sml";
}
.highlight[class~="sqf"]:before,
.highlight[class~="highlight-source-sqf"]:before {
  content: "sqf";
}
.highlight[class~="sql"]:before,
.highlight[class~="highlight-source-sql"]:before {
  content: "sql";
}
.highlight[class~="stan"]:before,
.highlight[class~="highlight-source-stan"]:before {
  content: "stan";
}
.highlight[class~="stata"]:before,
.highlight[class~="highlight-source-stata"]:before {
  content: "stata";
}
.highlight[class~="step21"]:before,
.highlight[class~="highlight-source-step21"]:before {
  content: "step21";
}
.highlight[class~="stylus"]:before,
.highlight[class~="highlight-source-stylus"]:before {
  content: "stylus";
}
.highlight[class~="subunit"]:before,
.highlight[class~="highlight-source-subunit"]:before {
  content: "subunit";
}
.highlight[class~="swift"]:before,
.highlight[class~="highlight-source-swift"]:before {
  content: "swift";
}
.highlight[class~="taggerscript"]:before,
.highlight[class~="highlight-source-taggerscript"]:before {
  content: "taggerscript";
}
.highlight[class~="yaml"]:before,
.highlight[class~="highlight-source-yaml"]:before {
  content: "yaml";
}
.highlight[class~="tap"]:before,
.highlight[class~="highlight-source-tap"]:before {
  content: "tap";
}
.highlight[class~="tcl"]:before,
.highlight[class~="highlight-source-tcl"]:before {
  content: "tcl";
}
.highlight[class~="tex"]:before,
.highlight[class~="highlight-source-tex"]:before {
  content: "tex";
}
.highlight[class~="thrift"]:before,
.highlight[class~="highlight-source-thrift"]:before {
  content: "thrift";
}
.highlight[class~="tp"]:before,
.highlight[class~="highlight-source-tp"]:before {
  content: "tp";
}
.highlight[class~="twig"]:before,
.highlight[class~="highlight-source-twig"]:before {
  content: "twig";
}
.highlight[class~="typescript"]:before,
.highlight[class~="highlight-source-typescript"]:before {
  content: "typescript";
}
.highlight[class~="vala"]:before,
.highlight[class~="highlight-source-vala"]:before {
  content: "vala";
}
.highlight[class~="vbnet"]:before,
.highlight[class~="highlight-source-vbnet"]:before {
  content: "vbnet";
}
.highlight[class~="vbscript"]:before,
.highlight[class~="highlight-source-vbscript"]:before {
  content: "vbscript";
}
.highlight[class~="vbscript-html"]:before,
.highlight[class~="highlight-source-vbscript-html"]:before {
  content: "vbscript-html";
}
.highlight[class~="verilog"]:before,
.highlight[class~="highlight-source-verilog"]:before {
  content: "verilog";
}
.highlight[class~="vhdl"]:before,
.highlight[class~="highlight-source-vhdl"]:before {
  content: "vhdl";
}
.highlight[class~="vim"]:before,
.highlight[class~="highlight-source-vim"]:before {
  content: "vim";
}
.highlight[class~="x86asm"]:before,
.highlight[class~="highlight-source-x86asm"]:before {
  content: "x86asm";
}
.highlight[class~="xl"]:before,
.highlight[class~="highlight-source-xl"]:before {
  content: "xl";
}
.highlight[class~="xquery"]:before,
.highlight[class~="highlight-source-xquery"]:before {
  content: "xquery";
}
.highlight[class~="zephir"]:before,
.highlight[class~="highlight-source-zephir"]:before {
  content: "zephir";
}
.highlight[class~="// aliases "as""]:before,
.highlight[class~="highlight-source-// aliases "as""]:before {
  content: "as";
}
.highlight[class~="apacheconf"]:before,
.highlight[class~="highlight-source-apacheconf"]:before {
  content: "apacheconf";
}
.highlight[class~="osascript"]:before,
.highlight[class~="highlight-source-osascript"]:before {
  content: "osascript";
}
.highlight[class~="c"]:before,
.highlight[class~="highlight-source-c"]:before {
  content: "c";
}
.highlight[class~="cc"]:before,
.highlight[class~="highlight-source-cc"]:before {
  content: "cc";
}
.highlight[class~="h"]:before,
.highlight[class~="highlight-source-h"]:before {
  content: "h";
}
.highlight[class~="c++"]:before,
.highlight[class~="highlight-source-c++"]:before {
  content: "c++";
}
.highlight[class~="h++"]:before,
.highlight[class~="highlight-source-h++"]:before {
  content: "h++";
}
.highlight[class~="hpp"]:before,
.highlight[class~="highlight-source-hpp"]:before {
  content: "hpp";
}
.highlight[class~="arm"]:before,
.highlight[class~="highlight-source-arm"]:before {
  content: "arm";
}
.highlight[class~="html"]:before,
.highlight[class~="highlight-source-html"]:before {
  content: "html";
}
.highlight[class~="xhtml"]:before,
.highlight[class~="highlight-source-xhtml"]:before {
  content: "xhtml";
}
.highlight[class~="rss"]:before,
.highlight[class~="highlight-source-rss"]:before {
  content: "rss";
}
.highlight[class~="atom"]:before,
.highlight[class~="highlight-source-atom"]:before {
  content: "atom";
}
.highlight[class~="xjb"]:before,
.highlight[class~="highlight-source-xjb"]:before {
  content: "xjb";
}
.highlight[class~="xsd"]:before,
.highlight[class~="highlight-source-xsd"]:before {
  content: "xsd";
}
.highlight[class~="xsl"]:before,
.highlight[class~="highlight-source-xsl"]:before {
  content: "xsl";
}
.highlight[class~="plist"]:before,
.highlight[class~="highlight-source-plist"]:before {
  content: "plist";
}
.highlight[class~="adoc"]:before,
.highlight[class~="highlight-source-adoc"]:before {
  content: "adoc";
}
.highlight[class~="ahk"]:before,
.highlight[class~="highlight-source-ahk"]:before {
  content: "ahk";
}
.highlight[class~="sh"]:before,
.highlight[class~="highlight-source-sh"]:before {
  content: "sh";
}
.highlight[class~="zsh"]:before,
.highlight[class~="highlight-source-zsh"]:before {
  content: "zsh";
}
.highlight[class~="bf"]:before,
.highlight[class~="highlight-source-bf"]:before {
  content: "bf";
}
.highlight[class~="capnp"]:before,
.highlight[class~="highlight-source-capnp"]:before {
  content: "capnp";
}
.highlight[class~="icl"]:before,
.highlight[class~="highlight-source-icl"]:before {
  content: "icl";
}
.highlight[class~="dcl"]:before,
.highlight[class~="highlight-source-dcl"]:before {
  content: "dcl";
}
.highlight[class~="clj"]:before,
.highlight[class~="highlight-source-clj"]:before {
  content: "clj";
}
.highlight[class~="cmake.in"]:before,
.highlight[class~="highlight-source-cmake.in"]:before {
  content: "cmake.in";
}
.highlight[class~="coffee"]:before,
.highlight[class~="highlight-source-coffee"]:before {
  content: "coffee";
}
.highlight[class~="cson"]:before,
.highlight[class~="highlight-source-cson"]:before {
  content: "cson";
}
.highlight[class~="iced"]:before,
.highlight[class~="highlight-source-iced"]:before {
  content: "iced";
}
.highlight[class~="cls"]:before,
.highlight[class~="highlight-source-cls"]:before {
  content: "cls";
}
.highlight[class~="crm"]:before,
.highlight[class~="highlight-source-crm"]:before {
  content: "crm";
}
.highlight[class~="pcmk"]:before,
.highlight[class~="highlight-source-pcmk"]:before {
  content: "pcmk";
}
.highlight[class~="cr"]:before,
.highlight[class~="highlight-source-cr"]:before {
  content: "cr";
}
.highlight[class~="csharp"]:before,
.highlight[class~="highlight-source-csharp"]:before {
  content: "csharp";
}
.highlight[class~="md"]:before,
.highlight[class~="highlight-source-md"]:before {
  content: "md";
}
.highlight[class~="mkdown"]:before,
.highlight[class~="highlight-source-mkdown"]:before {
  content: "mkdown";
}
.highlight[class~="mkd"]:before,
.highlight[class~="highlight-source-mkd"]:before {
  content: "mkd";
}
.highlight[class~="dpr"]:before,
.highlight[class~="highlight-source-dpr"]:before {
  content: "dpr";
}
.highlight[class~="dfm"]:before,
.highlight[class~="highlight-source-dfm"]:before {
  content: "dfm";
}
.highlight[class~="pas"]:before,
.highlight[class~="highlight-source-pas"]:before {
  content: "pas";
}
.highlight[class~="pascal"]:before,
.highlight[class~="highlight-source-pascal"]:before {
  content: "pascal";
}
.highlight[class~="freepascal"]:before,
.highlight[class~="highlight-source-freepascal"]:before {
  content: "freepascal";
}
.highlight[class~="lazarus"]:before,
.highlight[class~="highlight-source-lazarus"]:before {
  content: "lazarus";
}
.highlight[class~="lpr"]:before,
.highlight[class~="highlight-source-lpr"]:before {
  content: "lpr";
}
.highlight[class~="lfm"]:before,
.highlight[class~="highlight-source-lfm"]:before {
  content: "lfm";
}
.highlight[class~="patch"]:before,
.highlight[class~="highlight-source-patch"]:before {
  content: "patch";
}
.highlight[class~="jinja"]:before,
.highlight[class~="highlight-source-jinja"]:before {
  content: "jinja";
}
.highlight[class~="bind"]:before,
.highlight[class~="highlight-source-bind"]:before {
  content: "bind";
}
.highlight[class~="zone"]:before,
.highlight[class~="highlight-source-zone"]:before {
  content: "zone";
}
.highlight[class~="docker"]:before,
.highlight[class~="highlight-source-docker"]:before {
  content: "docker";
}
.highlight[class~="bat"]:before,
.highlight[class~="highlight-source-bat"]:before {
  content: "bat";
}
.highlight[class~="cmd"]:before,
.highlight[class~="highlight-source-cmd"]:before {
  content: "cmd";
}
.highlight[class~="dst"]:before,
.highlight[class~="highlight-source-dst"]:before {
  content: "dst";
}
.highlight[class~="rb"]:before,
.highlight[class~="highlight-source-rb"]:before {
  content: "rb";
}
.highlight[class~="gemspec"]:before,
.highlight[class~="highlight-source-gemspec"]:before {
  content: "gemspec";
}
.highlight[class~="podspec"]:before,
.highlight[class~="highlight-source-podspec"]:before {
  content: "podspec";
}
.highlight[class~="thor"]:before,
.highlight[class~="highlight-source-thor"]:before {
  content: "thor";
}
.highlight[class~="irb"]:before,
.highlight[class~="highlight-source-irb"]:before {
  content: "irb";
}
.highlight[class~="erl"]:before,
.highlight[class~="highlight-source-erl"]:before {
  content: "erl";
}
.highlight[class~="xlsx"]:before,
.highlight[class~="highlight-source-xlsx"]:before {
  content: "xlsx";
}
.highlight[class~="xls"]:before,
.highlight[class~="highlight-source-xls"]:before {
  content: "xls";
}
.highlight[class~="f90"]:before,
.highlight[class~="highlight-source-f90"]:before {
  content: "f90";
}
.highlight[class~="f95"]:before,
.highlight[class~="highlight-source-f95"]:before {
  content: "f95";
}
.highlight[class~="fs"]:before,
.highlight[class~="highlight-source-fs"]:before {
  content: "fs";
}
.highlight[class~="gms"]:before,
.highlight[class~="highlight-source-gms"]:before {
  content: "gms";
}
.highlight[class~="gss"]:before,
.highlight[class~="highlight-source-gss"]:before {
  content: "gss";
}
.highlight[class~="nc"]:before,
.highlight[class~="highlight-source-nc"]:before {
  content: "nc";
}
.highlight[class~="feature"]:before,
.highlight[class~="highlight-source-feature"]:before {
  content: "feature";
}
.highlight[class~="golang"]:before,
.highlight[class~="highlight-source-golang"]:before {
  content: "golang";
}
.highlight[class~="hbs"]:before,
.highlight[class~="highlight-source-hbs"]:before {
  content: "hbs";
}
.highlight[class~="html.hbs"]:before,
.highlight[class~="highlight-source-html.hbs"]:before {
  content: "html.hbs";
}
.highlight[class~="html.handlebars"]:before,
.highlight[class~="highlight-source-html.handlebars"]:before {
  content: "html.handlebars";
}
.highlight[class~="hs"]:before,
.highlight[class~="highlight-source-hs"]:before {
  content: "hs";
}
.highlight[class~="hx"]:before,
.highlight[class~="highlight-source-hx"]:before {
  content: "hx";
}
.highlight[class~="https"]:before,
.highlight[class~="highlight-source-https"]:before {
  content: "https";
}
.highlight[class~="hylang"]:before,
.highlight[class~="highlight-source-hylang"]:before {
  content: "hylang";
}
.highlight[class~="i7"]:before,
.highlight[class~="highlight-source-i7"]:before {
  content: "i7";
}
.highlight[class~="toml"]:before,
.highlight[class~="highlight-source-toml"]:before {
  content: "toml";
}
.highlight[class~="jsp"]:before,
.highlight[class~="highlight-source-jsp"]:before {
  content: "jsp";
}
.highlight[class~="js"]:before,
.highlight[class~="highlight-source-js"]:before {
  content: "js";
}
.highlight[class~="jsx"]:before,
.highlight[class~="highlight-source-jsx"]:before {
  content: "jsx";
}
.highlight[class~="wildfly-cli"]:before,
.highlight[class~="highlight-source-wildfly-cli"]:before {
  content: "wildfly-cli";
}
.highlight[class~="ls"]:before,
.highlight[class~="highlight-source-ls"]:before {
  content: "ls";
}
.highlight[class~="lassoscript"]:before,
.highlight[class~="highlight-source-lassoscript"]:before {
  content: "lassoscript";
}
.highlight[class~="mk"]:before,
.highlight[class~="highlight-source-mk"]:before {
  content: "mk";
}
.highlight[class~="mak"]:before,
.highlight[class~="highlight-source-mak"]:before {
  content: "mak";
}
.highlight[class~="mma"]:before,
.highlight[class~="highlight-source-mma"]:before {
  content: "mma";
}
.highlight[class~="m"]:before,
.highlight[class~="highlight-source-m"]:before {
  content: "m";
}
.highlight[class~="moo"]:before,
.highlight[class~="highlight-source-moo"]:before {
  content: "moo";
}
.highlight[class~="mips"]:before,
.highlight[class~="highlight-source-mips"]:before {
  content: "mips";
}
.highlight[class~="pl"]:before,
.highlight[class~="highlight-source-pl"]:before {
  content: "pl";
}
.highlight[class~="pm"]:before,
.highlight[class~="highlight-source-pm"]:before {
  content: "pm";
}
.highlight[class~="moon"]:before,
.highlight[class~="highlight-source-moon"]:before {
  content: "moon";
}
.highlight[class~="nginxconf"]:before,
.highlight[class~="highlight-source-nginxconf"]:before {
  content: "nginxconf";
}
.highlight[class~="nim"]:before,
.highlight[class~="highlight-source-nim"]:before {
  content: "nim";
}
.highlight[class~="nixos"]:before,
.highlight[class~="highlight-source-nixos"]:before {
  content: "nixos";
}
.highlight[class~="mm"]:before,
.highlight[class~="highlight-source-mm"]:before {
  content: "mm";
}
.highlight[class~="objc"]:before,
.highlight[class~="highlight-source-objc"]:before {
  content: "objc";
}
.highlight[class~="obj-c"]:before,
.highlight[class~="highlight-source-obj-c"]:before {
  content: "obj-c";
}
.highlight[class~="ml"]:before,
.highlight[class~="highlight-source-ml"]:before {
  content: "ml";
}
.highlight[class~="scad"]:before,
.highlight[class~="highlight-source-scad"]:before {
  content: "scad";
}
.highlight[class~="pf.conf"]:before,
.highlight[class~="highlight-source-pf.conf"]:before {
  content: "pf.conf";
}
.highlight[class~="php3"]:before,
.highlight[class~="highlight-source-php3"]:before {
  content: "php3";
}
.highlight[class~="php4"]:before,
.highlight[class~="highlight-source-php4"]:before {
  content: "php4";
}
.highlight[class~="php5"]:before,
.highlight[class~="highlight-source-php5"]:before {
  content: "php5";
}
.highlight[class~="php6"]:before,
.highlight[class~="highlight-source-php6"]:before {
  content: "php6";
}
.highlight[class~="ps"]:before,
.highlight[class~="highlight-source-ps"]:before {
  content: "ps";
}
.highlight[class~="pp"]:before,
.highlight[class~="highlight-source-pp"]:before {
  content: "pp";
}
.highlight[class~="pb"]:before,
.highlight[class~="highlight-source-pb"]:before {
  content: "pb";
}
.highlight[class~="pbi"]:before,
.highlight[class~="highlight-source-pbi"]:before {
  content: "pbi";
}
.highlight[class~="py"]:before,
.highlight[class~="highlight-source-py"]:before {
  content: "py";
}
.highlight[class~="gyp"]:before,
.highlight[class~="highlight-source-gyp"]:before {
  content: "gyp";
}
.highlight[class~="k"]:before,
.highlight[class~="highlight-source-k"]:before {
  content: "k";
}
.highlight[class~="kdb"]:before,
.highlight[class~="highlight-source-kdb"]:before {
  content: "kdb";
}
.highlight[class~="qt"]:before,
.highlight[class~="highlight-source-qt"]:before {
  content: "qt";
}
.highlight[class~="graph"]:before,
.highlight[class~="highlight-source-graph"]:before {
  content: "graph";
}
.highlight[class~="instances"]:before,
.highlight[class~="highlight-source-instances"]:before {
  content: "instances";
}
.highlight[class~="mikrotik"]:before,
.highlight[class~="highlight-source-mikrotik"]:before {
  content: "mikrotik";
}
.highlight[class~="rs"]:before,
.highlight[class~="highlight-source-rs"]:before {
  content: "rs";
}
.highlight[class~="sci"]:before,
.highlight[class~="highlight-source-sci"]:before {
  content: "sci";
}
.highlight[class~="console"]:before,
.highlight[class~="highlight-source-console"]:before {
  content: "console";
}
.highlight[class~="st"]:before,
.highlight[class~="highlight-source-st"]:before {
  content: "st";
}
.highlight[class~="do"]:before,
.highlight[class~="highlight-source-do"]:before {
  content: "do";
}
.highlight[class~="ado"]:before,
.highlight[class~="highlight-source-ado"]:before {
  content: "ado";
}
.highlight[class~="p21"]:before,
.highlight[class~="highlight-source-p21"]:before {
  content: "p21";
}
.highlight[class~="step"]:before,
.highlight[class~="highlight-source-step"]:before {
  content: "step";
}
.highlight[class~="stp"]:before,
.highlight[class~="highlight-source-stp"]:before {
  content: "stp";
}
.highlight[class~="styl"]:before,
.highlight[class~="highlight-source-styl"]:before {
  content: "styl";
}
.highlight[class~="yml"]:before,
.highlight[class~="highlight-source-yml"]:before {
  content: "yml";
}
.highlight[class~="YAML"]:before,
.highlight[class~="highlight-source-YAML"]:before {
  content: "YAML";
}
.highlight[class~="tk"]:before,
.highlight[class~="highlight-source-tk"]:before {
  content: "tk";
}
.highlight[class~="craftcms"]:before,
.highlight[class~="highlight-source-craftcms"]:before {
  content: "craftcms";
}
.highlight[class~="ts"]:before,
.highlight[class~="highlight-source-ts"]:before {
  content: "ts";
}
.highlight[class~="vb"]:before,
.highlight[class~="highlight-source-vb"]:before {
  content: "vb";
}
.highlight[class~="vbs"]:before,
.highlight[class~="highlight-source-vbs"]:before {
  content: "vbs";
}
.highlight[class~="v"]:before,
.highlight[class~="highlight-source-v"]:before {
  content: "v";
}
.highlight[class~="sv"]:before,
.highlight[class~="highlight-source-sv"]:before {
  content: "sv";
}
.highlight[class~="svh"]:before,
.highlight[class~="highlight-source-svh"]:before {
  content: "svh";
}
.highlight[class~="tao"]:before,
.highlight[class~="highlight-source-tao"]:before {
  content: "tao";
}
.highlight[class~="xpath"]:before,
.highlight[class~="highlight-source-xpath"]:before {
  content: "xpath";
}
.highlight[class~="xq"]:before,
.highlight[class~="highlight-source-xq"]:before {
  content: "xq";
}
.highlight[class~="zep"]:before,
.highlight[class~="highlight-source-zep"]:before {
  content: "zep";
}
.highlight .gutter {
  width: 30px;
}
.highlight .gutter pre {
  padding-right: 8px;
  padding-left: 8px;
  color: #90908a;
  text-align: right;
}
.highlight,
.highlight .tag,
.highlight .subst {
  color: #f8f8f2;
}
.highlight .strong,
.highlight .emphasis {
  color: #a8a8a2;
}
.highlight .bullet,
.highlight .quote,
.highlight .number,
.highlight .regexp,
.highlight .literal,
.highlight .link {
  color: #ae81ff;
}
.highlight .code,
.highlight .title,
.highlight .section,
.highlight .selector-class {
  color: #fff;
}
.highlight .strong {
  font-weight: bold;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .name {
  color: #f92672;
}
.highlight .attr {
  color: #a6e22c;
}
.highlight .symbol,
.highlight .attribute {
  color: #66d9ef;
}
.highlight .params {
  color: #fd9720;
}
.highlight .class .title,
.highlight .function .title {
  color: #a6e22e;
}
.highlight .string,
.highlight .type,
.highlight .built_in,
.highlight .builtin-name,
.highlight .selector-id,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .addition,
.highlight .variable,
.highlight .template-variable {
  color: #e6db74;
}
.highlight .comment,
.highlight .deletion,
.highlight .meta {
  color: #75715e;
}
.markdown-body .highlight {
  margin-bottom: 16px;
}
.markdown-body .highlight table {
  margin-bottom: 0;
}
.markdown-body .highlight table tr {
  background-color: transparent;
  border-top: none;
}
.markdown-body .highlight table td {
  padding: 0;
  border: none;
}
.markdown-body .highlight pre {
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
}
