.tags-wrap .tag-list {
  color: #333;
  color: var(--color-primary);
  line-height: 22px;
  font-size: 0.8em;
  list-style: none;
  overflow: hidden;
}
.tags-wrap .tag-list-item {
  float: left;
  margin-top: 14px;
  margin-right: 14px;
  padding-right: 14px;
  border-radius: 6px;
  background-color: #eee;
  background-color: var(--color-hover);
  border: 1px solid #ddd;
  border: 1px solid var(--color-border);
}
.tags-wrap .tag-list-item:hover {
  background-color: #e5e5e5;
  background-color: var(--color-active);
}
.tags-wrap .tag-list-link {
  display: inline-block;
  padding: 2px 8px 2px 14px;
  color: #333;
  color: var(--color-primary);
  vertical-align: middle;
}
.tags-wrap .tag-list-count {
  display: inline-block;
  color: #fd413c;
  border-left: 1px solid #fd413c;
  border-right: 1px solid #fd413c;
  border-radius: 14px;
  height: 14px;
  line-height: 14px;
  padding: 0 2px;
  vertical-align: middle;
}
